<!DOCTYPE html> 
<html> 
    <head> 
        <title><%= title %></title> 
        <% include ../partials/_ct_header %>
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head> 
    <body> 
   <div class="row justify-content-center">
   <div class="col m-2">
    <section class="card">
        <div class="twt-feed blue-bg">
            <div class="corner-ribon black-ribon">
            </div>
            <div class="media">
                <a href="#">
                    <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="../images/paw-solid.svg">
                </a>
                <div class="media-body">
                    <h2 class="text-white display-6"><%= profile.name %></h2>
                    <p class="text-light"><%= profile.is_full_time ? 'Full Time Employee' : 'Part Time Employee' %></p>
                    <a data-role="button" class="btn btn-link btn-lg" data-toggle="modal" data-target="#edit">Edit Profile</a></span>
                </div>
            </div>
        </div>
        <div class="weather-category twt-category">
            <ul>
                <li class="active">
                    <h5><%= profile.phone %></h5>
                    Phone No
                </li>
                <li>
                  <%if (profile.avg_rating >=1) { %>
                    <span class="fa fa-star checked"></span>
                  <% } else { %>
                    <span class="fa fa-star"></span>
                  <% } %>
                  <%if (profile.avg_rating >=2) { %>
                    <span class="fa fa-star checked"></span>
                  <% } else { %>
                    <span class="fa fa-star"></span>
                  <% } %>
                  <%if (profile.avg_rating >=3) { %>
                    <span class="fa fa-star checked"></span>
                  <% } else { %>
                    <span class="fa fa-star"></span>
                  <% } %>
                  <%if (profile.avg_rating >=4) { %>
                    <span class="fa fa-star checked"></span>
                  <% } else { %>
                    <span class="fa fa-star"></span>
                  <% } %>
                  <%if (profile.avg_rating >=5) { %>
                    <span class="fa fa-star checked"></span>
                  <% } else { %>
                    <span class="fa fa-star"></span>
                  <% } %>
                  <!-- <i class="fa fa-star-half-full"></i> -->
                    <h5><%= profile.avg_rating %>/5</h5>
                    Rating
                </li>
                <li><span>
                  <% cat_list.forEach(function (cat) { %>
                    <%if (cat == 'dog') { %>
                      <img class="align-self-center rounded-circle mr-3" style="width:40px; height:40px;" alt="" src="../images/dog-solid.svg">
                    <% } %>
                    <%if (cat == 'cat') { %>
                      <img class="align-self-center rounded-circle mr-3" style="width:40px; height:40px;" alt="" src="../images/cat-solid.svg">
                    <% } %>
                    <%if (cat == 'bird') { %>
                      <img class="align-self-center rounded-circle mr-3" style="width:40px; height:40px;" alt="" src="../images/dove-solid.svg">
                    <% } %>
                  <% }) %>
                      <br/>
                    Category
                </li>
            </ul>
        </div>

<div class="row justify-content-center">
    <div class="col">
      <font size="4">
    <table class="table">
    <thead>
      <tr>
        <th scope="col" style="width: 15%;">Pet Owner</th>
        <th scope="col" style="width: 15%;">Pet Name</th>
        <th scope="col" style="width: 25%;">Start Date</th>
        <th scope="col" style="width: 25%;">End Date</th>
        <th scope="col" style="width: 5%;">View Details</th>
        <th scope="col" style="width: 15%;">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% pending_bids.forEach(function (bid) { %>
            <td><%- bid.petowner %></td>
            <td><%- bid.pet_name %></td>
            <td><%- bid.start_date.toDateString() %></td>
            <td><%- bid.end_date.toDateString() %></td>
            <td>
              <button class="btn">
                <img class="align-self-center rounded-circle mr-3" style="width:40px; height:40px;" alt="" src="../images/eye-regular.svg">
              </button>
            </td>
            <td>
              <button class="btn">
                <i class="fa fa-check fa-2x" style="color:green"></i>
              </button>
              <button class="btn">
                <i class="fa fa-times fa-2x" style="color:red"></i>
              </button>
            </td>
        <% }); %>
        <!-- <img class="align-self-center rounded-circle mr-3" style="width:40px; height:40px;" alt="" src="../images/dove-solid.svg"></td> -->
        </tr>
      </tbody>
  </table>
</font>
  </section>
  </div>
  </div>
  <div class="modal fade" id="edit" role="dialog">
    <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Edit Profile</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <form class="form-signin" action="/" method="post">
          <label for="inputType" class="sr-only form-control">Type</label>
          <input type="text" id="type" name="type" class="form-control" placeholder="name" required="" value="Full-Time" readonly>
          <label for="inputName" class="sr-only form-control">Name</label>
          <input type="text" id="name" name="name" class="form-control" placeholder="name" required="">
          <label for="inputPassword" class="sr-only form-control">Password</label>
          <input type="password" id="password" name="password" 
            class="form-control" placeholder="Password" required="">
          <input type="text" id="signup" name="signup" value="signup" class="form-control" hidden> 
           <label for="inputCategory" class="sr-only form-control">Category</label>
          <select id="cat" name="cat" class="form-control selectpicker" multiple data-live-search="true">
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="bird">Bird</option>
        </select>
          <button class="btn btn-lg btn-primary btn-block" 
            type="submit">Update</button> 
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>
 </body>
</html> 
