<!DOCTYPE html> 
<html> 
    <head> 
        <title><%= title %></title> 
        <% include ../partials/_ct_header %>
        <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
        <style>
          #chart {
            height: 300px;
            width: 300px;
          }
        </style>
    </head> 
    <body> 
        <div class="row justify-content-center">
        <div class="col m-2">
        <section class="card">
            <div class="twt-feed blue-bg">
                <div class="corner-ribon black-ribon">
                </div>
    
                <div class="media">
                    <a href="#">
                        <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="../images/paw-solid.svg">
                    </a>
                    <div class="media-body">
                        <h2 class="text-white display-6"><%= profile.name %></h2>
                        <p class="text-light"><%= profile.is_full_time ? 'Full Time Employee' : 'Part Time Employee' %></p>
                    </div>
                </div>
            </div>
  <div id="myChart"></div>
</section>
  <script>
    let myConfig = {
      type: 'line',
      title: {
        text: 'Monthly Salary',
        fontSize: 24,
      },
      legend: {
        draggable: true,
      },
      scaleX: {
        // Set scale label
        label: { text: 'Month' },
        // Convert text on scale indices
        labels: [   "<%- time[0].toDateString() %>", "<%- time[1].toDateString() %>", "<%- time[2].toDateString() %>","<%- time[3].toDateString() %>","<%- time[4].toDateString() %>",
                    "<%- time[5].toDateString() %>", "<%- time[6].toDateString() %>", "<%- time[7].toDateString() %>","<%- time[8].toDateString() %>","<%- time[9].toDateString() %>",
                    "<%- time[10].toDateString() %>", "<%- time[11].toDateString() %>"]
        // labels: [ 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
      },
      scaleY: {
        // Scale label with unicode character
        //label: { text: 'Salary' }
      },
      plot: {
        // Animation docs here:
        // https://www.zingchart.com/docs/tutorials/styling/animation#effect
        animation: {
          effect: 'ANIMATION_EXPAND_BOTTOM',
          method: 'ANIMATION_STRONG_EASE_OUT',
          sequence: 'ANIMATION_BY_NODE',
          speed: 275,
        }
      },
      series: [
        {
          // Plot 1 values, linear data
          values: [<%- salary[0] %>, <%- salary[1] %>, <%- salary[2] %>,<%- salary[3] %>,<%- salary[4] %>,
                    <%- salary[5] %>, <%- salary[6] %>, <%- salary[7] %>,<%- salary[8] %>,<%- salary[9] %>,
                    <%- salary[10] %>, <%- salary[11] %>],
          // values: [2300,2000,0,2900,2500,1700,1500, 4000,2900,2500,1700,1500],
          text: '$',
        }
      ]
    };

    // Render Method[3]
    zingchart.render({
      id: 'myChart',
      data: myConfig,
    });
  </script>
</html>