<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <title><%= title %></title> 
        <% include ../partials/_po_header %>
        <link href="/stylesheets/ct_availability.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
        <script>
        $( function() {
            $('#daterangepickerbid').daterangepicker();
        } );
        $( function() {
            $('#daterangepickersearch').daterangepicker();
        } );
        $(document).ready( function () {
            $('#table').DataTable();
        } );
        </script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
</head>
<div>
    <% if (successFlash.length > 0) { %>
      <div class="alert alert-success mb-2" role="alert">
          <%= successFlash %>
      </div>
    <% } %>
    <% if (errorFlash.length > 0) { %>
        <div class="alert alert-danger mb-2" role="alert">
            <%= errorFlash %>
        </div>
    <% } %>
  </div>
<body>
    <div class="row justify-content-center">
        <div class="col m-2">
         <section class="card">
             <div class="twt-feed blue-bg">
                 <div class="corner-ribon black-ribon">
                 </div>
     
                 <div class="media">
                     <a href="#">
                         <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="../images/paw-solid.svg">
                     </a>
                     <div class="media-body">
                         <h2 class="text-white display-6"><%= profile.name %></h2>
                         <p class="text-light">Pet Owner</p>
                         <a data-role="button" class="btn btn-link btn-lg" data-toggle="modal" data-target="#search">Search for Care Takers</a>
                     </div>
                 </div>
             </div>
             <div class="weather-category twt-category">
                 <ul>
                   <li class="active">
                    <h5><%= profile.phone %></h5>
                    Phone No
                    </li>
                   <li>
                       <h5><%= profile.card %></h5>
                       Card Number
                   </li>
                   <li>
                       <h5><%= profile.transfer_location %></h5>
                       Preferred Transfer Location
                   </li>
               </ul>
             </div>
          </section>
        </div>
      </div>
    <div class="row justify-content-center">
    <table id="table" class="display" style="width:80%">
        <thead>
            <tr>
                <th>Care Taker Phone</th>
                <th>Care Taker</th>
                <th>Transfer Location</th>
                <th>Average Rating</th>
                <th>Bid</th>
            </tr>
        </thead>
        <tbody>
        <% search_ct.forEach(function (care_taker) { %>
        <tr>
          <td><%- care_taker.phone %></td>
          <td><%- care_taker.name %></td>
          <td><%- care_taker.transfer_location %></td>
          <td><%- care_taker.avg_rating %></td>
          <th><button data-role="button" class="btn btn-link btn-lg" data-toggle="modal" data-target="#create">Bid</button></th>
        </tr>
        <% }); %>
        </tbody>
    </table>
    </div>
    <div class="modal fade" id="create" role="dialog">
        <div class="modal-dialog">
                    
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Create New Bid</h4>
            <button class="close" type="button" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <form class="form-newpet" action="/pet_owner/create_bid" method="post">
                <label for="inputName" class="sr-only form-control">Pet Name</label>
                <input type="text" id="petname" name="petname" class="form-control"
                  placeholder="Pet Name" required="">
                <label for="inputPhone" class="sr-only form-control">Preferred Care Taker's Phone No</label>
                <input type="text" id="ctphone" name="ctphone" class="form-control"
                  placeholder="Care Taker's Phone No" required="">
                <label for="inputLocation" class="sr-only form-control">Transfer Location</label>
                <input type="text" id="inputlocation" name="inputlocation" class="form-control"
                  placeholder="Transfer Location" required="">
                <br>
                <label for="inputPayment" class="sr-only form-control">Payment Method</label>
                <select id="payment" name="payment" class="form-control selectpicker" data-live-search="true">
                    <option value="Cash">Cash</option>
                    <option value="Credit Card">Credit Card</option>
                </select>
                <p>Select Payment Method</p>
                <br>
                <label for="inputTransfer" class="sr-only form-control">Transfer Method</label>
                <select id="transmethod" name="transmethod" class="form-control selectpicker" data-live-search="true">
                    <option value="PO deliver">I Deliver</option>
                    <option value="CT pick up">Care Taker Pick Up</option>
                    <option value="via PCS">PSC Building</option>
                </select>
                <p>Select Transfer Method</p>
                <br>
                <label for="start">Start date:</label>
                <input type="date" id="start" name="start">
                <br />
                <label for="end">End date:</label>
                <input type="date" id="end" name="end">
                <br>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Bid</button>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
        </div>
    </div>
    <div class="modal fade" id="search" role="dialog">
        <div class="modal-dialog">
                    
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Search for Care Takers</h4>
            <button class="close" type="button" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <form class="form-newpet" action="/pet_owner/search" method="post">
                <label for="inputName" class="sr-only form-control">Transfer Location</label>
                <input type="text" id="translocation" name="translocation" class="form-control"
                  placeholder="Search by Transfer Location" required="">
                <br>
                <label for="inputCategory" class="sr-only form-control">Pet's Category</label>
                <select id="category" name="category" class="form-control selectpicker" data-live-search="true">
                    <option value="cat">Cat</option>
                    <option value="dog">Dog</option>
                    <option value="bird">Bird</option>
                </select>
                <p>Search by Pet's Category</p>
                <br>
                <label for="start">Start date:</label>
                <input type="date" id="start" name="start">
                <br />
                <label for="end">End date:</label>
                <input type="date" id="end" name="end">
                <br />
                <button type="submit" class="btn btn-lg btn-primary btn-block">Search</button>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
        </div>
    </div>
</body>
</html>