<!DOCTYPE html> 
<html> 
<head> 
    <title><%= title %></title> 
    <% include ../partials/_po_header %>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head> 
<body> 
   <div class="row justify-content-center">
   <div class="col m-2">
       <section class="card">
           <div class="twt-feed blue-bg">
               <div class="corner-ribon black-ribon">
               </div>
               <div class="media">
                   <a href="#">
                       <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="../images/paw-solid.svg">
                   </a>
                   <div class="media-body">
                       <h2 class="text-white display-6"><%= profile.name %></h2>
                       <p class="text-light">Pet Owner</p>
                       <a data-role="button" class="btn btn-link btn-lg" data-toggle="modal" data-target="#editpo">Update Location</a>
                   </div>
               </div>
           </div>
           <div class="weather-category twt-category">
               <ul>
                   <li class="active">
                    <h5><%= profile.phone %></h5>
                    Phone No
                    </li>
                   <li>
                       <h5><%= profile.card %></h5>
                       Card Number
                   </li>
                   <li>
                       <h5><%= profile.transfer_location %></h5>
                       Preferred Transfer Location
                   </li>
               </ul>
           </div>
       </section>
       </div>
    </div>

   <div class="row justify-content-center">
       <div class="col m-2">
           <table class="table">
            <thead>
            <tr>
                <th scope="col">Care Taker</th>
                <th scope="col">Care Taker Phone</th>
                <th scope="col">My Pet</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Total Cost</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
    <tbody>
        <tr>
        <% accepted_bids.forEach(function (bid) { %>
          <td><%- bid.caretaker %></td>
          <td><%- bid.ct_phone %></td>
          <td><%- bid.pet_name %></td>
          <td><%- bid.start_date.toDateString() %></td>
          <td><%- bid.end_date.toDateString() %></td>
            <td><%- bid.total_cost %></td>
          <td>
              <form action="/pet_owner/pay" method="post">
                <input type="hidden" id="po_phone" name="po_phone" value="<%= profile.phone %>">
                <input type="hidden" id="ct_phone" name="ct_phone" value="<%= bid.ct_phone %>">
                <input type="hidden" id="pet_name" name="pet_name" value="<%= bid.pet_name %>">
                <input type="hidden" id="start_date" name="start_date" value="<%= bid.start_date %>">
                <input type="hidden" id="end_date" name="end_date" value="<%= bid.end_date %>">
                <input class="btn btn-success" type="submit" name="pay" id="pay" value="Pay">
              </form>
            </td>
        <% }); %>
      </tr>
        <tr>
        <% pending_bids.forEach(function (bid) { %>
          <td><%- bid.caretaker %></td>
          <td><%- bid.ct_phone %></td>
          <td><%- bid.pet_name %></td>
          <td><%- bid.start_date.toDateString() %></td>
          <td><%- bid.end_date.toDateString() %></td>
          <td><%- bid.total_cost %></td>
          <td><%- bid.status %></td>
        <% }); %>
      </tr>
    </tbody>
  </table>
    <%if (!pending_bids || pending_bids.length < 1) {%>
        <h5 style="text-align:center">No pending orders</h5>
    <% } %>
       </div>
    </div>
  <div class="modal fade" id="editpo" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Update Location</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <form class="form-signin" action="/pet_owner/profile" method="post">
          <input type="hidden" id="po_phone" name="po_phone" value="<%= profile.phone %>">
          <label for="local" class="sr-only form-control">Transfer Location</label>
          <input type="text" id="local" name="local" class="form-control" placeholder="Transfer Location" required="">
          
          <button class="btn btn-lg btn-primary btn-block" 
            type="submit">Update</button> 
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>
</body>
</html> 
