<!DOCTYPE html> 
<html> 
    <head> 
        <title><%= title %></title> 
        <% include ../partials/_ad_header %>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
        <script>
          $(document).ready( function () {
            $('#b_table').DataTable();
          });
        </script>
    </head> 
    <div>
      <% if (successFlash.length > 0) { %>
        <div class="alert alert-success mb-2" role="alert">
            <%= successFlash %>
        </div>
      <% } %>
      <% if (errorFlash.length > 0) { %>
          <div class="alert alert-danger mb-2" role="alert">
              <%= errorFlash %>
          </div>
      <% } %>
    </div>
    <body> 
        <div class="row justify-content-center">
        <div class="col m-2">
        <section class="card">
            <div class="twt-feed blue-bg">
                <div class="corner-ribon black-ribon">
                </div>
    
                <div class="media">
                    <a href="#">
                        <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="../images/paw-solid.svg">
                    </a>
                    <div class="media-body">
                        <h2 class="text-white display-6"><%= profile.name %></h2>
                        <p class="text-light">Admin</p>
                        <form class="form-signin" action="/admin/init" method="post">
                                <button style="color:white" class="btn btn-link btn-lg"
                                    type="submit">Initialise Salary</button> 
                              </form>
                        <a style="color:white" data-role="button" class="btn btn-link btn-lg"  href="/admin/salary">View Salary</a>&nbsp;&nbsp;
                        <a style="color:white"data-role="button" class="btn btn-link btn-lg" href="/admin">View Accepted Bids</a>&nbsp;&nbsp;
                        <a style="color:white"data-role="button" class="btn btn-link btn-lg" href="/admin/underperforming">View Underperforming Staff</a>&nbsp;&nbsp;
                        <a style="color:white"data-role="button" class="btn btn-link btn-lg" href="/admin/user">Manage User</a>
                        <a data-role="button" class="btn btn-link btn-lg" data-toggle="modal" data-target="#add">Add Admin</a></span>
                   </div>
                </div>
            </div>
      <table class="table" id="b_table" style="background-color:white; text-align: center">
        <thead>
        <tr>
            <th scope="col" style="width: 10%;">Care Taker</th>
            <th scope="col" style="width: 10%;">CT's Phone</th>
            <th scope="col">Pay Time</th>
            <th scope="col">Amount</th>
            <th scope="col" style="width: 10%;">Pet Day</th>
        </tr>
        </thead>
        <!-- <img class="align-self-center rounded-circle mr-3" style="width:40px; height:40px;" alt="" src="../images/dove-solid.svg"></td> -->
        <% salary.forEach(function (sa) { %>
        <tr>
            <td><%- sa.name %></td>
            <td><%- sa.phone %></td>
            <td><%- sa.pay_time.toDateString() %></td>
            <td><%- sa.amount %></td>
            <td><%- sa.pet_day %></td>
        <% }); %>
      </tr> 
    </tbody>
  </table> 
    </section>
  </div>
</div>
    </body>
<!---------------------Add Admin----------------------------->
<div class="modal fade" id="add" role="dialog">
  <div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Add Admin</h4>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
  </div>
  <div class="modal-body" style="text-align:center">
    <form class="form-signin" action="/admin/add" method="post">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
      <br />
      <label for="ph_no">Phone Number:</label>
      <input type="text" id="ph_no" name="phone_no" required>
      <br />
      <label for="pwd">Password:</label>
      <input type="text" id="pwd" name="password" required>
      <br />
      <button class="btn btn-lg btn-primary btn-block" 
          type="submit">Add</button> 
      </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>
</div>
</div>
</html>

